body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
  }

  h1, h2 {
    color: #333;
  }

  div {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  input, select, button {
    margin: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
  }

  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  /* Estilo para la barra de resultados de búsqueda */
  #resultados-busqueda {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #lista-grupos {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #lista-grupos li {
    margin-bottom: 10px;
  }

  #lista-grupos button {
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #lista-grupos button:hover {
    background-color: #4CAF50;
  }


