body{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}




h2{
    color: brown;
    font-size: 20px;

}

/*#sobre-mi{
    background-color: beige;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#habilidades{
    background-color: blueviolet;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}*/

.contenedor{
    background-color: beige;
    font-size: 18px;
    width: 280px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
}

#c1{
    width: 1000px;
    height: 100px;
}


header img{
    width: 90px;
    height: 100px;
    transition-duration: 1000ms;
}

header img:hover{
    width: 150px ;
    height: 160px;
}